<body>

    <ul>
      <li><a href="#"><img class="logo" src="https://cdn-icons-png.flaticon.com/512/2985/2985915.png"></a></li>
      <li><a href="#" style="font-size: 25px; font-family: Poppins">Portafolio</a></li>
      <li style="float:right;"><a href="#" style="font-size: 25px; font-family: Poppins">Ingresar</a></li>
      <li style="float:right;"><a href="#" style="font-size: 25px; font-family: Poppins">Salir</a></li>
      <li style="float:right;" ><a href="#" style="font-size: 25px; font-family: Poppins" >Usuario</a></li>
      

    </ul>

  </body>
