<body>
    <h1 class="title"> Proyectos Desarrollados</h1>
    <div class="container" >
        <div class="card">
            <img src="" />
            <h4>pimera tarjeta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat perferendis ea tempore debitis,
                consequatur quis molestias modi labore, asperiores commodi nisi. Nobis nulla temporibus, dolores debitis
                illo eum impedit.
                Dolor!</p>
                <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="" />
            <h4>pimera tarjeta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat perferendis ea tempore debitis,
                consequatur quis molestias modi labore, asperiores commodi nisi. Nobis nulla temporibus, dolores debitis
                illo eum impedit.
                Dolor!</p>
                <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="" />
            <h4>pimera tarjeta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat perferendis ea tempore debitis,
                consequatur quis molestias modi labore, asperiores commodi nisi. Nobis nulla temporibus, dolores debitis
                illo eum impedit.
                Dolor!</p>
                <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="" />
            <h4>pimera tarjeta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat perferendis ea tempore debitis,
                consequatur quis molestias modi labore, asperiores commodi nisi. Nobis nulla temporibus, dolores debitis
                illo eum impedit.
                Dolor!</p>
                <a href="#">Leer mas</a>
        </div>
        
    </div>
</body>
